<!-- Header Start -->
<header id="header-base">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-4 brand-img">
                <!-- <div class="col-md-5"></div> -->
                <div class="col-md-7">
                     <a href="{{url_for('display_blog')}}"><img src="../static/img/adriana.png" class="img-responsive" alt="Adrianacmy"/></a>
                </div>
                <div class="col-md-2 brand">
                    <a href="{{url_for('display_blog')}}"><h3>ADRIANACMY</h3></a>
                </div>
            </div>
            <div class="col-md-2"></div>
         </div><!--row -->
    </div>
</header>
