{% extends 'layout/posts.html'%}

{% block content %}
{% include 'include/navsub.html'%}

<section id="posts">
    <div class="container">
      <ul>
        {% for post in posts.items: %}
        <li class="list-unstyled">
            <a href="/blog?id={{post.id}}"><h2>{{post.title}}</h2></a>
            <p><em>{{ post.pub_date}} &nbsp; &nbsp;by <a href="/blog?username={{ post.author['name']}}">{{ post.author['name'] }}</a></em></p>

            <p>{{ post.body[:600] }}&nbsp;&nbsp;
                <a href="/blog?id={{post.id}}"><span>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                <em>[read more]</em>
                </span></a></p>
            <hr>
        </li>
        {% endfor %}
      </ul>
    </div>
</section>
{% endblock %}
