<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include 'include/head_posts.html' %}

  </head>
  <body>


    {% include 'include/header.html' %}
    {% include 'include/slider_home.html' %}

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">
              <em>{{ message }}</em>
            </li>
          {% endfor %}
        </ul>
      {% endwith %}

      <ul>
    {% block content %}




    {% endblock %}



    {% include 'include/pagination.html' %}
    {% include 'include/footer.html' %}

    </body>
</html>
